pillow~=12.2.0
python-telegram-bot>=20.0
Pillow>=10.0
python-dotenv>=1.0
aiogram>=3.0.0,<4.0.0
Flask>=2.0.0
pip~=26.1.2
typing_extensions~=4.15.0
attrs~=26.1.0
click~=8.4.2
fastapi~=0.138.1
typing_extensions~=4.15.0
typing_extensions~=4.15.0
typing_extensions~=4.15.0
uvicorn~=0.49.0
flask
gunicorn
typing_extensions~=4.15.0
python-dotenv
pyTelegramBotAPI~=4.34.0